name: test

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust:
          - stable
          - beta
          - nightly
        target:
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - riscv64gc-unknown-linux-gnu
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
    env:
      RUST_BACKTRACE: full
    steps:
      - uses: actions/checkout@v5

      - uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}
      - uses: dtolnay/rust-toolchain@master
        if: matrix.rust != 'nightly'
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy,rustfmt
          targets: ${{ matrix.target }}

      - uses: dtolnay/rust-toolchain@master
        if: matrix.rust == 'nightly'
        with:
          toolchain: ${{ matrix.rust }}
          components: miri
          targets: ${{ matrix.target }}

      - name: Check formatting
        if: matrix.rust == 'stable'
        run: cargo fmt --all -- --check

      - name: Clippy
        if: matrix.rust == 'stable'
        run: cargo clippy --all-targets -- --deny warnings -A clippy::useless_transmute -A clippy::too_many_arguments

      - run: cargo build --all-targets
      - run: cargo miri test --all-targets
        if: matrix.rust == 'nightly'
      - run: cargo test
